@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div style=" position: relative; text-align: center; color: white;">
        <img src="~/Content/Images/barbershop.png" alt="Barber's Cave" style="width:100%;">
      
        <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><h1 style="font-size:6em; color:aliceblue;">Barber's Cave</h1></div>
    </div>
</div>